name: Generate News Video

on:
  workflow_dispatch:
  # 오전 2시부터 9시까지 한 시간마다 영상 저장
  schedule:
      # 낮 12시~4시(KST) 10분마다
  - cron: "*/15 * * * *" 
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ffmpeg \
            fonts-noto-cjk fonts-noto-cjk-extra

      - name: Create Python environment
        run: |
          conda create -n video-env python=3.10 pip -y

      - name: Install Python dependencies
        run: |
          conda run -n video-env pip install openai-whisper requests

      - name: Confirm FFmpeg version
        run: ffmpeg -version

      - name: Run generator script
        run: |
          conda run -n video-env python generate_video.py
